@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear:both;    
    }
}

@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media (max-width : 37.5em){@content}; // < 600px
    } 
    @if $breakpoint == tab-port {
        @media (max-width : 56.25em){@content}; // < 900px
    } 
    @if $breakpoint == tab-land {
        @media (max-width : 75em){@content}; // < 1200px
    } 
    @if $breakpoint == big-desktop {
        @media (min-width : 112.5em){@content}; // 1800px +
    }
    // @if $breakpoint == four-k {
    //     @media (min-width : 2400px){@content};
    // }  
}