$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-background-grey:#f7f7f7;

$color-text-white:#fff;
$color-text-grey:#777;

$default-font-size:62.5%;

$float-gutter-vertical:3rem;