* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  padding: 1.5rem;
}

.header {
  height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(126, 213, 111, 0.8))), url("../img/hero.jpg");
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  position: relative;
}

.header-logo--main {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 3rem;
}

.header-textbox {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header-textbox--heading {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2rem;
}

.header-textbox--main {
  display: block;
  font-size: 9rem;
  font-weight: 700;
}

.header-textbox--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

.header-btn {
  margin: 5rem 0;
}

.header-btn--discover {
  padding: 2rem 5rem;
  border-radius: 10rem;
  font-size: 2rem;
  background-color: #fff;
  color: #8f8484;
  text-transform: uppercase;
}

.header-btn--discover:link {
  text-decoration: none;
}

.header-btn--discover::after {
  content: "";
}
/*# sourceMappingURL=main.css.map */