.header {
    height: 95vh;
    background: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-light, 0.8)), url('../img/hero.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    position: relative;

    @include respond(tab-port){
        height: 60vh;
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }

    &-container{
        overflow: hidden;
    }

    &-logo--main {
        position: absolute;
        top: 2rem;
        left: 2rem;
        height: 3rem;
    }

    &-textbox {
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &--heading {
            color: $color-text-white;
            text-transform: uppercase;
            text-align: center;
        }

        &--main {
            font-size: 6rem;
            font-weight: 400;
            display: block;
            letter-spacing: 2rem;
            animation: moveRight 1000ms ease-out;
        }

        &--sub {
            display: block;
            font-size: 1.5rem;
            letter-spacing: 1.5rem;
            font-weight: 700;
            animation: moveLeft 1000ms ease-out;
        }
    }

    &-btn {
        margin: 5rem;
        animation: moveUp 1000ms ease-out;

        &--discover{
            padding:1.5rem 3.5rem !important;
        }
    }
}