.about {
    background-color: $color-background-grey;
    padding: 30vh 0; // 40vh 0;
    margin-top: -20vh;
    overflow: hidden;

    @include respond(tab-port){
        padding:15vh 0;
    }

    &_container {
        text-align: center;

        &--heading{
            padding: 0;
            margin-bottom:1rem;
        }

        &--composition {
            padding: 4rem;
            margin: 0 auto;

            &--text {
                padding-left:10rem;
                @include respond(tab-port){
                    padding-left: 0;
                }
            }

            &--image {
                position: relative;
                @include respond(tab-port){
                    height: 50vh;
                    margin: 0 auto;
                }

                @include respond(phone){
                    height: 30vh;
                    padding-top:10rem;
                }
            }
        }
    }
}

.about_images {
    width: 45%;
    border-radius: .2rem;
    box-shadow: 0 .2rem 4rem rgba(0, 0, 0, .5);
    position: absolute;
    margin-top:10%;
    @include respond(tab-port){
        width: 30%;
    }


    &-p1 {
        top: -2rem;
        left: 0;
        z-index: 5;
    }

    &-p2 {
        top: 2rem;
        right: 10rem;
        z-index: 6;
    }

    &-p3 {
        top: 10rem;
        left: 20%;
        z-index: 7;
    }

    @include respond(tab-port){
        &-p1 {
            top: 2rem;
            left: 15%;
            z-index: 5;
        }
    
        &-p2 {
            top: -2rem;
            // right: 10rem;
            left:35%;
            z-index: 6;
        }
    
        &-p3 {
            top: 2rem;
            left: 55%;
            z-index: 5;
        }
    }

    &:hover {
        z-index: 20;
        transition: all .3s;
        transform: scale(1.3);
        outline: 1.2rem solid $color-primary;
        outline-offset: 1.5rem;
    }

}


.float_layouts {
    float: left;
    margin: 0 auto;
    width:calc((100% - #{$float-gutter-vertical})/2);

    &:not(:last-child) {
        margin-right: $float-gutter-vertical;
    }

    @include clearfix;

    @include respond(tab-port){
        display: block;
        width: 100%;
        text-align: center;
    }
}