.booking-section {
    height: 110vh;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    position: relative;
}

.booking-container {
    // @include respond(four-k){
    //     height:80%;
    // }
    // @include respond(tab-port){
    //     height:60%;
    // }
    height: 60%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1rem 1rem 10rem rgba(black, 0.4);
    

    &--bg {
        width: 100%;
        height: 100%;
        background: url("../img/nat-10.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
    }

    &--form {
        height: 100%;
        width: 100%;
        clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
        background: rgba($color-background-grey, .9);
        position: absolute;
        top: 0;
        padding: 3rem 5rem;
    }
}

.booking-heading {
    font-size:3rem;
    padding: 0;
    margin: 1rem 0;

    &:hover {
        transform: skewX(5deg) skewY(2deg) scale(1.05);
    }
}

.booking-form {
    & .form-input--text {
        display: block;
        padding: 1rem;
        &:not(:last-child){
            margin-top: 1rem;
        }
        line-height: 2rem;
        background-color: rgba(white, .5);
        color: $color-text-grey;
        font-size: 1.5rem;
        width: 40%;
        border: none;
        border-bottom: .3rem solid transparent;
        letter-spacing: .2rem;
        transition: all .3s;


        &:focus {
            outline: none;
            border-bottom: .3rem solid $color-primary;

            &:invalid {
                border-bottom: .3rem solid #ff7730;
            }

            &+.form-input--label {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &::-webkit-input-placeholder {
            color: $color-text-grey;
            font-family: inherit;
            letter-spacing: .2rem;
            font-size: inherit;
        }

        &:placeholder-shown+.form-input--label {
            opacity: 0;
            transform: translateY(-2rem);
        }
    }
}


.form-input--label {
    display: block;
    line-height: 3rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    letter-spacing: .2rem;
    transition: all .3s;
    transform: translateY(-2rem);
    opacity: 0;
    color: $color-text-grey;
}

.cust-btn{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border:.5rem solid $color-primary;
    border-radius: 50%;
    transform: translateX(-.5rem) translateY(+1rem);
    position: relative;

    &::after{
        content: "";
        position: absolute;
        display: inline-block;
        background-color: $color-primary;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        top:50%;
        left:50%;
        opacity: 0;
        transform: translate(-50%,-50%);
        transition: all .2s;
    }
}

.grp-rd-btn{
    display: none;

    &:checked + .grp-rd-label > .cust-btn::after{
        opacity: 1;
    }
}

.grp-rd-label{
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: $color-text-grey;
    transition: all .2s;
    text-transform: capitalize;
}

.next-step {
    background: $color-primary;
    color: $color-text-white;
    padding: 1rem 3rem;
    margin:3rem 0;

    &::after {
        background: $color-primary;
    }
}
