.btn-main {
    padding: 2rem 5rem;
    border-radius: 10rem;
    font-size: 1.7rem;
    background-color: $color-text-white;
    color: $color-text-grey;
    text-transform: uppercase;
    position: relative;
    display: inline-block;


    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

        &::after {
            transform: scaleX(2) scaleY(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.5rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

    }

    &:link,
    &:active {
        text-decoration: none;
    }

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background: white;
    }
}