.features-section {
    background: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/nat-4.jpg');
    padding: 20rem 0;
    text-align: center;
    background-position: top;
    background-size: cover;
    // top:-30vh;
    margin-top:-10vh;
    // margin-top:-6vh;
    @include respond(tab-port){
        padding:10vh 0;
        margin-top:-20vh;
    }
    transform: skewY(-5deg);
    @include clearfix;
    &--container {
        padding : 0 calc(2*#{$float-gutter-vertical});
        max-width: 100%;
        transform: skewY(5deg);
        @include clearfix;
    }
}

.features-card {
    float: left;
    width: calc((100% - 6 * #{$float-gutter-vertical})/4);
    background-color: rgba(white,.8);
    border-radius: .4rem;
    height:70%;
    transition: all .2s;

    &:not(:last-child) {
        margin-right:2 *  $float-gutter-vertical;
        @include respond(tab-port){
            margin-right: auto;
        }
    }

    @include respond(tab-port){
        text-align: center;
        width: 70%;
        display: block;
        margin: 0 auto;
        float: none;
        margin-bottom: 2 *  $float-gutter-vertical;
    }

    color: $color-text-grey;
    font-size: 1.5rem;
    padding:2rem;

    &--icons{
        display: inline-block;
        font-size: 5rem;
        background-image: linear-gradient(to right, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8));
        -webkit-background-clip:text; 
        background-clip: text;
        color:transparent;
    }

    &--para{
        padding-bottom: 4rem;
    }

    &:hover{
        transform: scale(1.1) translateY(-5%);
    }
}