
.footer-float{
    width: calc((100% - 2 * #{$float-gutter-vertical})/2);
    padding: 1.3rem 0;
    border-top:.08rem solid $color-text-white;
    float: left;

    &:not(:last-child) {
        margin-right: 2 * $float-gutter-vertical;
    }

    @include clearfix;

    @include respond (tab-port){
        width: 100% !important;
        border:none;
        float: none;
        display: inline-block;
        text-align: center;
        margin:0;

        &:not(:last-child) {
            margin-bottom: 2 * $float-gutter-vertical;
        }
    }
}

.footer{
    background:rgba(black,.8);
    padding:10rem;

    display: inline-block;

    @include respond (tab-port){
        padding:5rem;
    }

    &-logo{
        display: block;
        text-align: center;
        margin-bottom: 5rem;

        &--logo{
            width:15rem;
            height: auto;
        }
    }

    &-nav{
        display: block;
        width: auto;
    }

    &-nav--list{
        list-style-type: none;
        font-size:1.4rem;
        color:$color-text-white;
        display: inline-block;
        text-transform: uppercase;

        & li{
            &:not(:last-child){
                margin-right:1rem;
            }
        }
    }

    &-hover-effect{
        display: inline-block;
        transition: all .3s;

        &:hover{
            transform: rotate(-5deg) scale(1.1);
            padding:0 1rem;
            background:rgba(black,.8);
            color: $color-primary;
        }

        &-right:hover{
            transform: rotate(5deg) scale(1.1);
            padding: 0;
        }
    }

    &-credits{
        font-size:1.4rem;
        color:$color-text-white;
        float:right;
        width: 40%;


        @include respond (tab-port){
            padding-bottom: 5rem;
        }
    }
}
