.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        position: fixed;
        height: 4.5rem;
        width: 4.5rem;
        top: 3.7rem;
        right: 3.7rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0rem 1rem 10rem rgba(black, .6);
        background-color: $color-background-grey;
        text-align: center;
    }

    &__background {
        position: fixed;
        height: 4rem;
        width: 4rem;
        top: 4rem;
        right: 4rem;
        border-radius: 50%;
        z-index: 1000;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);

        transition: all .8s cubic-bezier(0, 1.04, 0, 1.01);
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0, 1.04, 0, 1.01);

    }

    &__list {
        list-style-type: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    &__item {
        margin: 1.5rem;
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3.5rem;
            font-weight: 300;
            padding: .5rem;
            color: $color-text-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
            background-size: 240%;
            transition: all .4s;
            backface-visibility: hidden;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
            border-radius: .3rem;
        }
    }

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked~&__background {
        transform: scale(100);
    }

    &__icon {
        position: relative;
        margin-top: 2.3rem;

        &,
        &::before,
        &::after {
            width: 2rem;
            height: .2rem;
            background-color: rgba(black, .6);
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;

        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon {
        &::before {
            top: -1rem;
        }

        &::after {
            top: 1rem;
        }
    }

    &__checkbox:checked+&__button &__icon {

        & {
            background-color: transparent;
        }

        &::before {
            top: 0;
            transform: rotate(135deg);
        }

        &::after {
            top: 0;
            transform: rotate(-135deg);

        }
    }
}