.popup-section{
    background:rgba(black,.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target{
        opacity: 1;
        visibility: visible;

        & .popup{
            opacity: 1;
            transform: translate(-50%,-50%) scale(1.1);
        }
    }
}

.popup{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: $color-background-grey;
    width: 70%;
    border-radius: .5rem;
    box-shadow: 1rem 2rem 10rem rgba(black,.8);
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%,-50%) scale(.4);
    transition: all .4s;

    &__left{
        width: 33.3%;
        height: 100%;
        // float:left;
        display: table-cell;

        &--pics{
            width: 100%;
            display: block;
        }
    }

    &__right{
        width: 66.7%;
        // float: left;
        display: table-cell;
        height: 100%;
        text-align: left;
        padding:4rem;
        vertical-align: middle;

        &--heading-main{
            
            padding: 0;
            margin: 0 auto;
            margin-bottom: 3rem;
        }

        &--heading-sub{
            font-size:1.5rem;
            font-weight: 900;
            color:rgba($color: #000000, $alpha: .70)
        }

        &--para{
            font-size:1.3rem;
            color:$color-text-grey;
            column-count: 2;
            column-gap: 3rem;
            column-rule: .1rem solid rgba(black,0.3);
            hyphens: auto;
            -webkit-hyphens: auto;
        }

        &--btn{
            margin-top:4rem;
            padding:1rem 3rem;
            background-color: $color-primary;
            color:$color-text-white;

            &::after{
                background-color: $color-primary;
            }
        }
    }
    &__close{
        position: absolute;
        top:3rem;
        right:3rem;
        display: inline-block;
        

        &--cross{
            font-size: 2.5rem;
            color:$color-text-grey;

            &:link,&:visited{
                text-decoration: none;
            }

            &:hover{
                color:$color-primary;
            }
        }
    }
}