.stories-section{
    position: relative;
    text-align: center;
    padding:10rem;
    overflow: hidden;
}

.read-all{
    text-transform: capitalize;
    font-size: 1.3rem;
    padding:2rem;
}

.stories-container{
    &--story{
        width: 70%;
        height: 30rem;
        margin:10rem auto;
        margin-top:-3rem;
        padding:4rem;
        background:rgba($color-background-grey,.4);
        box-shadow: 1rem 1rem 10rem rgba(black,0.3);
        transform: skewX(-12deg);

        &:hover .cust-image--name{
            transform: translate(-50%,-50%);
        }

        &:hover .cust-image--img{
            transform:scale(1);
            filter: blur(.5rem) brightness(80%);
        }
    }
}

.cust-image{
    margin:2.5rem 1rem;
    float:left;
    height: 15rem;
    width: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg);
    position: relative;

    &--img{
        transform:scale(1.3);
        height: 100%;
    }

    &--name{
        color:$color-text-white;
        position: absolute;
        top:50%;
        left:50%;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        transform: translateY(-50rem);
        transition: all .5s;
    }
}

.story-text{
    text-align: left;
    padding-top:2.5rem;  
    transform: skewX(12deg);

}

.review{
    font-size:1.5rem;
    color:$color-text-grey;
}

.bg-video{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    opacity: .15;
    z-index: -2;

    &-vid{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}