.tours-section {
    text-align: center;
    padding: 15vh;
    background: $color-background-grey;
    margin-top: -10vh;
}

.tours-container {

    &--btn {
        margin: 5rem auto;
        background-color: $color-primary;
        color: white;
        padding: 1.5rem 4rem;
        transition: all .1 s;

        &::after {
            background-color: $color-primary;
        }
    }

    &--cards {
        text-align: center;
        margin: 0 auto;
        position: relative;
        @include clearfix;
    }
}


.grid-card {
    float: left;
    width: calc((100% - 4 * #{$float-gutter-vertical})/3);
    height: 50rem;
    @include clearfix;

    perspective: 150rem;
    -moz-perspective: 150rem;

    &:not(:last-child) {
        margin-right: 2 * $float-gutter-vertical;
    }

    &:hover .faces--front {
        transform: rotateY(180deg);
    }

    &:hover .faces--back {
        transform: rotateY(0deg);
    }

}

.faces {
    height: 40rem;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    transition: all 800ms ease-in-out;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.3);
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: .9rem;

    &--front {
        background: white;

        &--c1>.faces--image {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
        }

        &--c2>.faces--image {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url("../img/nat-6.jpg");
        }

        &--c3>.faces--image {
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg");
        }

        &--c1>.faces--heading>.liner {
            background: linear-gradient(to right bottom, rgba(#ffb900, 0.8), rgba(#ff7730, .8));
        }

        &--c2>.faces--heading>.liner {
            background: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
        }

        &--c3>.faces--heading>.liner {
            background: linear-gradient(to right bottom, rgba(#2998ff, .8), rgba(#5643fa, .8));
        }
    }

    &--back {
        transform: rotateY(-180deg);

        &--c1 {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
        }

        &--c2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }

        &--c3 {
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
        }
    }
}

.faces--image {
    height: 16rem;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

.faces--heading {
    color: black;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: white;
    font-weight: 300;
    position: absolute;
    top: 20%;
    right: 1%;
    width: 60%;
    text-align: right;
}

.faces--text--list {
    list-style: none;
    width: 80%;
    padding: 1rem;
    margin-bottom: 3rem;
    margin: 0 auto;
    text-align: center;

    & li {
        color: $color-text-grey;
        font-size: 1.5rem;
        display: block;
        padding: .7rem;
        text-transform: capitalize;

        &:not(:last-child) {
            border-bottom: .1rem solid #eee;
        }
    }
}

.liner {
    padding: 1rem 2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.price {
    padding: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;

    &>p {
        font-size: 1rem;
        padding-top: 8rem;
    }

    &>h4 {
        padding-bottom: 4rem;
        font-size: 5rem;
        font-weight: 400;
    }
}

.book-now {
    padding:2rem 3rem;
}


@include respond(tab-port) {


    .grid-card {
        float: none;
        width: 100%;
        height: auto;
        margin: 0 auto;
        width: 75%;
        margin-bottom: 2* $float-gutter-vertical;
        box-shadow: 0 1.5rem 4rem rgba(black, 0.3);
        border-radius: 1rem;
        background-color: #fff;


        &:hover .faces--front {
            transform: rotateY(0deg);
        }
    
        &:hover .faces--back {
            transform: rotateY(0deg);
        }

        &:not(:last-child) {
            margin-right: auto;
        }
    }

    .faces {
        position: relative;
        color: white;
        overflow: hidden;
        border-radius: 0;
        box-shadow: none;

        &--front {
            background: white;
        }

        &--back {
            border-radius: 0;
            transform: rotateY(0deg);
            clip-path: polygon(0 30%, 100% 15%, 100% 100%, 0% 100%);
            // translateY(-20%);
        }
    }

    .price {
        & > p {
            font-weight: 700;
        }
    
        &>h4 {
            padding-bottom: 4rem;
            font-size: 5rem;
            font-weight: 400;
        }
    }
    .book-now {
        margin-top: -4rem;
    }

    .faces--text--list li {
        font-size: 2rem;
    }

    // .liner {
    // }

}