* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: inherit;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: $default-font-size; //10px
    line-height: 1.7;
    padding: 1.5rem;
    box-sizing: border-box;

    @include respond(big-desktop){
        font-size:120%; //12px
    }
    @include respond(tab-port){
        padding:0;
        font-size:60%; //9.6px
    }
    @include respond(tab-land){
        font-size:50%; // 8px
    }
    @include respond(phone){
        font-size:45%; // 7.2px
    }
}