.about-text{
    font-size: 1.6rem;
    color:$color-text-grey;
    &--para{
        padding-bottom: 4rem;
    }
}

.heading-large {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: .3rem;
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: auto;
    transition: all .2s;
    padding-bottom: 5rem;
    margin:5rem 0;

    &:hover {
        transform: skewX(10deg) skewY(3deg) scale(1.2);
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .5);
    }
}

.heading-medium{
        font-size: 1.6rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        color:$color-text-grey;
}

.learn-more{
    font-size: 1.6rem;
    &--btn{
        color:$color-primary;
        padding:1rem .5rem;
        font-weight: 700;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary;
        
        &:hover{
            background-color: $color-primary;
            color:white;
            transition: all .5s;
            border:none;
            box-shadow: 0 .1rem 1rem rgba($color: #000000, $alpha: .3);
        }
        &:active,&:hover{
            text-decoration: none;
        }
    }
}